<!DOCTYPE html>
<html lang="en">

<head>
    <title>TWX.COM</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
        crossorigin="anonymous">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <style>
        .top-picture {
            width: 100%;
            height: 100%;
        }
    </style>
</head>

<body>
    <div id="wrap">
        <div class="top-header">
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#"> TWX.COM </a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Brands
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#">Thor</a>
                                </li>
                                <li>
                                    <a href="#">Fox</a>
                                </li>
                                <li>
                                    <a href="#">100%</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#">
                                <span data-toggle="modal" data-target="#exampleModal" class="glyphicon glyphicon-user" style="font-size: 22px"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="glyphicon glyphicon"></span>
                                <i data-toggle="modal" data-target="#exampleModalCenter" class="fa fa-shopping-cart" style="font-size:22px"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span @click="logout" class="glyphicon glyphicon-log-out" style="font-size: 22px"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="container">
            <div class="top-picture">
                <img src=http://images.motorcycle-usa.com/photogallerys/Villopoto-Lakewood-Cox-2013-082.jpg alt="Computer Hope"> </div>
            <div class="row">
                <div class="col-md-4">
                    <form>
                        <div class="form-group">
                            <h3 align="center">
                                <b>Add New product</b>
                            </h3>
                            <label>Brand</label>
                            <input type="text" v-model='addbrand' class="form-control" id="exampleInputbrand" aria-describedby="brand" placeholder="add Brand"> </div>
                        <div class="form-group">
                            <label>Price</label>
                            <input type="text" v-model='addPrice' class="form-control" id="exampleInputprice" placeholder="$$$$"> </div>
                        <div>
                            <label for="exampleInputimage">Upload</label>
                            <br>
                            <label class="btn btn-default">
                                <input type="file" @change="fetchImg" hidden> </label>
                        </div>
                        <br>
                        <button type="button" @click="upload" class="btn btn-primary">Upload</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="footer">
            <nav class="navbar navbar-inverse">
                <div class="container-fluid"> </div>
            </nav>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        var app = new Vue({
            el: '#wrap',
            data: {
                addbrand: '',
                addPrice: '',
                img: null,
                linkImg: '',
            },
            created: function () {
                if (localStorage.hasOwnProperty('token') === true) {
                    this.getdata()
                    this.upload()
                    window.location = 'index.html'
                } else {
                    // this.$router.push('/')
                    window.location = 'index.html'
                }
            },
            methods: {
                logout() {
                    if (localStorage.hasOwnProperty('token') === true) {
                        swal({
                            text: "Logout Success",
                            icon: "success",
                        });
                        localStorage.clear()
                        // this.$router.push('/')
                        window.location = 'index.html'
                    }
                },
                fetchImg(e) {
                    this.img = e.target.files[0]
                },
                upload() {
                    let formData = new FormData()
                    formData.append('image', this.img)
                    formData.append('brand', this.addbrand)
                    formData.append('price', this.addPrice)
                    // formData.append('text', 'text apa')
                    // ====================== axios ==========================
                    axios({
                            url: 'http://localhost:3000/home',
                            method: 'post',
                            data: formData,
                            headers: {
                                authorization: localStorage.getItem('token')
                            }
                        }).then(response => {
                            this.addbrand = ''
                            this.addPrice = ''
                        })
                        // { this.linkImg = response.data.link }
                        .catch(err => console.log(err))
                    // ====================== axios ==========================
                }
            }
        })
    </script>
</body>

</html>